# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.qmlc

# Translations

# Editor settings
/.vscode

# Temp files for other software
*~lock~

# Work folder for symbols
/symbols